@model WebApplication13.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <td>
                @Html.DisplayFor(model => model.gender)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <td>
                @Html.DisplayFor(model => model.city)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <td>
                @Html.DisplayFor(model => model.DepartmentId)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this employee?');" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
