@model WebApplication13.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <td><strong>Name:</strong></td>
        <td>@Html.DisplayFor(model => model.name)</td>
    </tr>
    <tr>
        <td><strong>Gender:</strong></td>
        <td>@Html.DisplayFor(model => model.gender)</td>
    </tr>
    <tr>
        <td><strong>City:</strong></td>
        <td>@Html.DisplayFor(model => model.city)</td>
    </tr>
    <tr>
        <td><strong>Department:</strong></td>
        <td>@Html.DisplayFor(model => model.DepartmentId)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
