@model IEnumerable<WebApplication13.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault(); // Prevent form submission

                var searchTerm = $('#searchTerm').val(); // Get the search term

                $.get('@Url.Action("Search", "Employees")', { searchTerm: searchTerm }, function (data) {
                    $('table tbody').html(data); // Update the table with the search results
                });
            });
        });
    </script>
</head>

<h2>List of Employees</h2>

<form>
    <p>
        <input type="text" id="searchTerm" name="searchTerm" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>@Html.DisplayNameFor(model => model.name)</th>
            <th>@Html.DisplayNameFor(model => model.gender)</th>
            <th>@Html.DisplayNameFor(model => model.city)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentId)</th>
            <th>Action's</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.gender)</td>
                <td>@Html.DisplayFor(modelItem => item.city)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentId)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
